.socials__list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials__link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  fill: #ffffff;
}

.socials__link:hover,
.socials__link:focus {
  opacity: 0.6;
}

.socials__item {
  margin-right: 33px;

  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: 1023px) {
  .socials__item {
    margin-right: 22px;
  }

  .socials__link {
    width: 16px;
    height: 16px;
  }

  .socials__link--fb {
    width: 11px;
  }
}

@media (max-width: 767px) {
  .socials__list {
    flex-direction: row;
  }
}
